[Desktop Entry]
Name=Duolingo
Exec=dl-desktop --no-sandbox %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=Duolingo
Comment=A desktop client for Duolingo
Categories=Education;
